@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  body * {

  }
}


@layer base {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }

  :root {
    --theme-50: 255, 241, 241;
    --theme-100: 255, 224, 224;
    --theme-200: 255, 199, 199;
    --theme-300: 255, 160, 160;
    --theme-400: 255, 106, 106;
    --theme-500: 248, 59, 59;
    --theme-600: 225, 25, 25;
    --theme-700: 193, 20, 20;
    --theme-800: 160, 20, 20;
    --theme-900: 132, 24, 24;

    --theme-body-50: 255, 255, 255;
    --theme-body-100: 247, 247, 247;
    --theme-body-200: 227, 227, 227;
    --theme-body-300: 200, 200, 200;
    --theme-body-400: 164, 164, 164;
    --theme-body-500: 129, 129, 129;
    --theme-body-600: 102, 102, 102;
    --theme-body-700: 81, 81, 81;
    --theme-body-800: 67, 67, 67;
    --theme-body-900: 56, 56, 56;
    --theme-body-1000: 0, 0, 0;

    --theme-font-1000: 255, 255, 255;
    --theme-font-900: 247, 247, 247;
    --theme-font-800: 200, 200, 200;
    --theme-font-700: 164, 164, 164;
    --theme-font-600: 129, 129, 129;
    --theme-font-500: 102, 102, 102;
    --theme-font-400: 81, 81, 81;
    --theme-font-300: 67, 67, 67;
    --theme-font-200: 56, 56, 56;
    --theme-font-100: 20, 20, 20;
    --theme-font-50: 5, 5, 5;
  }
  .root-theme {

    --theme-50: 240, 249, 255;
    --theme-100: 225, 241, 253;
    --theme-200: 188, 228, 251;
    --theme-300: 128, 207, 249;
    --theme-400: 67, 185, 244;
    --theme-500: 19, 158, 228;
    --theme-600: 7, 126, 194;
    --theme-700: 7, 100, 157;
    --theme-800: 10, 85, 130;
    --theme-900: 14, 71, 108;
  }
  .second-theme {

    --theme-50: 239, 254, 250;
    --theme-100: 200, 255, 241;
    --theme-200: 146, 253, 228;
    --theme-300: 67, 244, 209;
    --theme-400: 32, 225, 193;
    --theme-500: 7, 197, 168;
    --theme-600: 2, 159, 139;
    --theme-700: 7, 126, 112;
    --theme-800: 11, 100, 90;
    --theme-900: 14, 83, 75;
  }
  .third-theme {

    --theme-50: 245, 243, 255;
    --theme-100: 237, 232, 255;
    --theme-200: 219, 213, 255;
    --theme-300: 194, 179, 255;
    --theme-400: 163, 135, 254;
    --theme-500: 134, 87, 251;
    --theme-600: 129, 67, 244;
    --theme-700: 105, 34, 223;
    --theme-800: 87, 28, 187;
    --theme-900: 73, 25, 153;
  }
  .fourth-theme {

    --theme-50: 255, 241, 243;
    --theme-100: 255, 227, 231;
    --theme-200: 255, 204, 214;
    --theme-300: 255, 162, 180;
    --theme-400: 254, 110, 142;
    --theme-500: 249, 58, 105;
    --theme-600: 230, 24, 84;
    --theme-700: 194, 14, 71;
    --theme-800: 169, 15, 69;
    --theme-900: 139, 16, 63;
  }
  .fifth-theme {

    --theme-50: 254, 244, 242;
    --theme-100: 254, 232, 226;
    --theme-200: 254, 212, 202;
    --theme-300: 252, 182, 165;
    --theme-400: 247, 129, 100;
    --theme-500: 239, 102, 68;
    --theme-600: 220, 74, 38;
    --theme-700: 185, 59, 28;
    --theme-800: 153, 52, 27;
    --theme-900: 127, 48, 29;
  }
  .sixth-theme {

    --theme-50: 253, 242, 250;
    --theme-100: 252, 231, 247;
    --theme-200: 252, 206, 241;
    --theme-300: 250, 167, 228;
    --theme-400: 246, 112, 207;
    --theme-500: 240, 92, 193;
    --theme-600: 221, 37, 154;
    --theme-700: 192, 22, 125;
    --theme-800: 159, 21, 103;
    --theme-900: 132, 23, 88;
  }
  .seventh-theme {
    --theme-50: 250, 244, 240;
    --theme-100: 240, 223, 213;
    --theme-200: 224, 187, 167;
    --theme-300: 207, 150, 122;
    --theme-400: 201, 132, 105;
    --theme-500: 185, 93, 71;
    --theme-600: 163, 70, 60;
    --theme-700: 136, 53, 53;
    --theme-800: 112, 48, 52;
    --theme-900: 93, 42, 46;
  }
  .eighth-theme {
    --theme-50: 241, 252, 249;
    --theme-100: 209, 246, 239;
    --theme-200: 153, 234, 221;
    --theme-300: 109, 219, 206;
    --theme-400: 63, 194, 182;
    --theme-500: 38, 166, 156;
    --theme-600: 27, 134, 128;
    --theme-700: 26, 107, 104;
    --theme-800: 25, 86, 84;
    --theme-900: 25, 72, 71;
  }
  .ninth-theme{
    --theme-50: 252, 243, 249;
    --theme-100: 250, 233, 245;
    --theme-200: 246, 212, 235;
    --theme-300: 240, 177, 218;
    --theme-400: 234, 153, 205;
    --theme-500: 217, 91, 168;
    --theme-600: 198, 60, 137;
    --theme-700: 171, 43, 111;
    --theme-800: 142, 38, 92;
    --theme-900: 119, 36, 79;
  }
}
